Repository voxpupuli/puppet-augeasproviders_mounttab, pull requests merged in 2023-04, with the labels that each got.

#10 modulesync 5.4.0; Drop Puppet 5, add Puppet 7
  .editorconfig
  .fixtures.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .puppet-lint.rc
  .rspec
  .rspec_parallel
  .rubocop.yml
  .sync.yml
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  metadata.json
  spec/spec_helper.rb
  spec/unit/puppet/provider/mounttab/fstab_spec.rb
  spec/unit/puppet/provider/mounttab/vfstab_spec.rb
Labels: backwards-incompatible

#11 Add support for Rocky, Alma, and Fedora
  metadata.json
Labels: enhancement

#16 modulesync 5.5.0
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync
